# IDE
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Secrets
*.pfx
*.key
appsettings.*.json
!appsettings.json
